.container
  %h2.index__title All Boards
  .board
    .board__title-wrapper
      %h3.board__title Brackets
      .board__menu
        = image_tag 'dots.svg'
    %p.board__content Saving money – is something we would all like.
    .board__avatar-wrapper 
      = image_tag 'avatar2.png', class: 'board_avatar'
  .boards__add-new-board 
    %p.board__add-new-board-text + Add new borad